{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Єдовідник</title> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <style>
        .compareform {
            display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.tablecomp {
        display: none; /* Початково приховати всі таблиці */
    }

    .table-visible {
        display: flex; /* Показати таблицю з цим класом */
    }
.additional-button {
    

  margin: 10px;

background: #D9D9D9;

width: 200px;
height: 50px;
flex-shrink: 0;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
}
    </style>
</head>
<body class="search" >
    <header>
        <div class="headnav">
            <nav>
                <ul class="leftnav">
                    <li class="leftnavpos"> <a href="/main">Головна</a></li>
                    <li><a href="/wishlist">Wishlist</a></li>
                    <li><a href="/compare">Порівняння</a></li>
                    <li><a href="/shop">Магазин</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
                <ul class="rightnav">
           
                    <li><a href="/usereditprofile"><img src="{% static 'user.png' %}" alt=""></a></li>
                </ul>
            </nav>
    </header>
    <main>
        <form class="compareform">
            <!-- Додайте наступні 8 кнопок аналогічно до кнопки "Додати товар" -->
            <button class="additional-button" id="laptop">Ноутбуки</button>
            <button class="additional-button" id="pc">ПК</button>
            <button class="additional-button" id="cpu">Процесори</button>
            <button class="additional-button" id="gpu">Відеокарти</button>

            <button class="additional-button" id="rom">Жорсткий диск</button>
            <button class="additional-button" id="ram">ОЗП</button>
            <button class="additional-button" id="screen">Монітори</button>
            <button class="additional-button" id="networkcard">Мережеві карти</button>
        </form>
        <form class="compareform" action="/main/">
            <button class="addproduct" type="submit">+ Додати товар </button>
     
            <button class="deleteproduct" type="button">Очистити таблицю</button>
        </form>
        
        
        
        
        {% if table_list %}
        <!-- Якщо список не порожній, вивести відповідне повідомлення -->
        <h1 id="info-message" class="infocompare">Оберіть список</h1>
    {% else %}
        <!-- Якщо список порожній, вивести інше повідомлення -->
        <h1 id="info-message" class="infocompare">Список порожній</h1>
    {% endif %}





    {% with ram_items=search_results.ram %}


    <table class="tablecomp" id="table_ram">
      {% for ramitem in search_results.ram %}

      <th >
          <div class="flex-container">
              <div class="compareheaditem">
                <div class="compareimageblock">
                    <img src="{{ramitem.14}}" alt="" class="compare-img">
                </div>
              
              <div class="compare-text">{{ramitem.8}}</div>
              </div>
          </th>

      {% endfor %}



      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Виробник
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.12}}
          </td>
          {% endfor %}
          
         
      </tr>
      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Кількість пам'яті
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.1}}
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Тип пам'яті
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.2}}
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Швидкість пам'яті
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.3}} 
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Країна виробника
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.10}}
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Інтерфейс
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.4}}
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ ram_items|length }}">
            Напруга
          </td>
        </tr>
      <tr class="fewelement">
          {% for ramitem in search_results.ram %}
          <td style="width: 300px;">
              {{ramitem.6}}
          </td>
          {% endfor %}
      </tr>

     
      


    </table> 
    {% endwith %}







    






    {% with networkcard_items=search_results.networkcard %}


    <table class="tablecomp" id="table_networkcard">
      {% for networkcarditem in search_results.networkcard %}
    
      <th >
          <div class="flex-container">
              <div class="compareheaditem">
                <div class="compareimageblock">
                    <img src="{{networkcarditem.12}}" alt="" class="compare-img">
                </div>
              
              <div class="compare-text">{{networkcarditem.6}}</div>
              </div>
          </th>
    
      {% endfor %}
    
    
    
      <tr class="oneelement">
         <td colspan="{{ networkcard_items|length }}">
            Виробник
          </td>
        </tr>
      <tr class="fewelement">
          {% for networkcarditem in search_results.networkcard %}
          <td style="width: 300px;">
              {{networkcarditem.10}}
          </td>
          {% endfor %}
          
         
      </tr>
      <tr class="oneelement">
         <td colspan="{{ networkcard_items|length }}">
            Інтерфейс
          </td>
        </tr>
      <tr class="fewelement">
          {% for networkcarditem in search_results.networkcard %}
          <td style="width: 300px;">
              {{networkcarditem.1}}
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ networkcard_items|length }}">
            Швидкість передавання даних
          </td>
        </tr>
      <tr class="fewelement">
          {% for networkcarditem in search_results.networkcard %}
          <td style="width: 300px;">
              {{networkcarditem.3}}
          </td>
          {% endfor %}
      </tr>
      <tr class="oneelement">
         <td colspan="{{ networkcard_items|length }}">
            Наявність порту RJ45
          </td>
        </tr>
      <tr class="fewelement">
          {% for networkcarditem in search_results.networkcard %}
          <td style="width: 300px;">
              {{networkcarditem.4}} 
          </td>
          {% endfor %}
      </tr>
      
    
    
    </table> 
    {% endwith %}






    
{% with screen_items=search_results.screen %}


<table class="tablecomp" id="table_screen">
  {% for screenitem in search_results.screen %}

  <th >
      <div class="flex-container">
          <div class="compareheaditem">
            <div class="compareimageblock">
                <img src="{{screenitem.16}}" alt="" class="compare-img">
            </div>
          
          <div class="compare-text">{{screenitem.9}}</div>
          </div>
      </th>

  {% endfor %}



  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Виробник
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.14}}
      </td>
      {% endfor %}
      
     
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Діагональ екрану
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.1}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Роздільна здатність
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.2}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Тип матриці
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.3}} 
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Країна виробника
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.12}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Відношення сторін
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.4}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Частота оновлення екрану
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.5}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
    <td colspan="{{ screen_items|length }}">
        Яскравість екрану
     </td>
   </tr>
 <tr class="fewelement">
     {% for screenitem in search_results.screen %}
     <td style="width: 300px;">
         {{screenitem.7}}
     </td>
     {% endfor %}
 </tr>

 
  


</table> 
{% endwith %}





{% with rom_items=search_results.rom %}


<table class="tablecomp" id="table_rom">
    
  {% for romitem in search_results.rom %}


  <th >
      <div class="flex-container">
          <div class="compareheaditem">
            <div class="compareimageblock">
                <img src="{{romitem.15}}" alt="" class="compare-img">
            </div>
          
          <div class="compare-text">{{romitem.9}}</div>
          </div>
      </th>

  {% endfor %}



  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Виробник
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.13}}
      </td>
      {% endfor %}
      
     
  </tr>
  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Об'єм пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.1}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Швидкість читання
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.2}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Швидкість запису
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.3}} 
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Країна виробника
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.11}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Тип диску
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.4}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ rom_items|length }}">
        Тип роз'єму
      </td>
    </tr>
  <tr class="fewelement">
      {% for romitem in search_results.rom %}
      <td style="width: 300px;">
          {{romitem.5}}
      </td>
      {% endfor %}
  </tr>

 
  


</table> 
{% endwith %}








    
    
       
          {% with gpu_items=search_results.gpu %}

          <table class="tablecomp" id="table_gpu">
            {% for videoproc in search_results.gpu %}

            <th >
                <div class="flex-container">
                    <div class="compareheaditem">
                        <div class="compareimageblock">
                            <img src="{{videoproc.17}}" alt="" class="compare-img">
                        </div>
                    
                    <div class="compare-text">{{videoproc.1}}</div>
                    </div>
                </th>

            {% endfor %}


    
            <tr class="oneelement">
                <td colspan="{{ gpu_items|length }}">
                    Виробник

                </td>
              </tr>
            <tr class="fewelement">
                {% for videoproc in search_results.gpu %}
                <td style="width: 300px;">
                    {{videoproc.15}}
                </td>
                {% endfor %}
                
               
            </tr>
            <tr class="oneelement">
               <td colspan="{{ gpu_items|length }}">
                    Кількість ядер
                </td>
              </tr>
            <tr class="fewelement">
               {% for videoproc in search_results.gpu %}

                <td style="width: 300px;">
                    {{videoproc.5}}
                </td>
                {% endfor %}
            </tr>
        
            <tr class="oneelement">
               <td colspan="{{ gpu_items|length }}">
                    Тактова частота
                </td>
              </tr>
            <tr class="fewelement">
               {% for videoproc in search_results.gpu %}

                <td style="width: 300px;">
                    {{videoproc.4}} ГГц
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ gpu_items|length }}">
                    Інтерфейс
                </td>
              </tr>
            <tr class="fewelement">
               {% for videoproc in search_results.gpu %}

                <td style="width: 300px;">
                    {{videoproc.9}}
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ gpu_items|length }}">
                    Тип відеопам'яті 
                </td>
              </tr>
            <tr class="fewelement">
               {% for videoproc in search_results.gpu %}

                <td style="width: 300px;">
                    {{videoproc.7}}
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ gpu_items|length }}">
                    Об'єм відеопам'яті
                </td>
              </tr>
            <tr class="fewelement">
               {% for videoproc in search_results.gpu %}

                <td style="width: 300px;">
                    {{videoproc.6}}
                </td>
                {% endfor %}
            </tr>

            <tr class="oneelement">
               <td colspan="{{ gpu_items|length }}">
                    Ширина шини 
                </td>
              </tr>
            <tr class="fewelement">
               {% for videoproc in search_results.gpu %}

                <td style="width: 300px;">
                    {{videoproc.8}} мм
                </td>
                {% endfor %}
            </tr>
            


          </table> 
          {% endwith %}

          {% with cpu_items=search_results.cpu %}

          <table class="tablecomp" id="table_cpu">
            {% for processor in search_results.cpu %}

            <th >
                <div class="flex-container">
                    <div class="compareheaditem">
                        <div class="compareimageblock">
                            <img src="{{processor.16}}" alt="" class="compare-img">

                        </div>

                    <div class="compare-text">{{processor.3}}</div>
                    </div>
                </th>

            {% endfor %}


    
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                  Виробник
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.14}}
                </td>
                {% endfor %}
                
               
            </tr>
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Кількість ядер
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.4}}
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Кількість потоків
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.5}}
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Тактова частота
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.2}} ГГц
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Архітектура
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.6}}
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Техпроцес 
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.7}}
                </td>
                {% endfor %}
            </tr>
            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Країна виробництва
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.12}}
                </td>
                {% endfor %}
            </tr>

            <tr class="oneelement">
               <td colspan="{{ cpu_items|length }}">
                    Температура 
                </td>
              </tr>
            <tr class="fewelement">
                {% for processor in search_results.cpu %}
                <td style="width: 300px;">
                    {{processor.8}}
                </td>
                {% endfor %}
            </tr>
            


          </table> 
          {% endwith %}


          

          {% if table_list %}
            <!-- Ось ваша поточна логіка для відображення таблиць і кнопок -->
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Отримати всі кнопки з класом 'additional-button'
                    var buttons = document.querySelectorAll('.additional-button');
            
                    // Отримати значення з table_list
                    var tableList = {{ table_list|safe }};
            
                    // Перевірити, чи tableList не є порожнім
                    if (tableList.length > 0) {
                        // Якщо tableList не порожній, приховати кнопки, які не містяться в tableList
                        buttons.forEach(function (button) {
                            if (!tableList.includes(button.id.toLowerCase())) {
                                button.style.display = 'none';
                            }
                        });
                    } else {
                        // Якщо tableList порожній, виконати інші дії або залишити без змін, залежно від вашого варіанту
                        console.log("Список порожній");
                    }
                });
            </script>
            {%else%}
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    // Отримати всі кнопки з класом 'additional-button'
                    var buttons = document.querySelectorAll('.additional-button');
            
                    // Отримати значення з table_list
                    var tableList = {{ table_list|safe }};

                    // Перевірити, чи tableList не є порожнім
                    
                        // Якщо tableList не порожній, приховати кнопки, які не містяться в tableList
                    buttons.forEach(function (button) {
                        if (!tableList.includes(button.id.toLowerCase())) {
                            button.style.display = 'none';
                        }
                    });
                });
            </script>

        {% endif %}

        <script>
           document.addEventListener("DOMContentLoaded", function () {
    var buttons = document.querySelectorAll('.additional-button');
    var tables = document.querySelectorAll('.tablecomp');
    var infoMessage = document.getElementById('info-message');
    var deleteButton = document.querySelector('.deleteproduct');

    buttons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault();

            var tableId = "table_" + button.id;
            var delurl = "delete_" + button.id;

            tables.forEach(function (table) {
                table.classList.remove('table-visible');
            });

            var selectedTable = document.getElementById(tableId);
            if (selectedTable) {
                selectedTable.classList.add('table-visible');
                infoMessage.style.display = 'none';
                // Оновлення атрибута onclick кнопки видалення товару
                deleteButton.onclick = function () {
                    if (tableId=="table_") {
                        // Вивести alert, якщо не обрана жодна таблиця
                        alert("Оберіть таблицю перед видаленням товару.");
                        
                    } else {
                        // Перехід за вказаним URL
                        window.location.href = delurl;
                    }
                };
            } else {
                infoMessage.style.display = 'block';
            }
        });
    });
});

        </script>
        
        
        
</body>
</html>
