
{% with laptop_items=search_results.laptop %}


<table class="tablecomp" id="table_laptop">
  {% for laptopitem in search_results.laptop %}

  <th >
      <div class="flex-container">
          <div class="compareheaditem">
            <div class="compareimageblock">
                <img src="{{laptopitem.14}}" alt="" class="compare-img">
            </div>
          
          <div class="compare-text">{{laptopitem.8}}</div>
          </div>
      </th>

  {% endfor %}



  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Виробник
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.12}}
      </td>
      {% endfor %}
      
     
  </tr>
  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Кількість пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.1}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Тип пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.2}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Швидкість пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.3}} 
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Країна виробника
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.10}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Інтерфейс
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.4}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ laptop_items|length }}">
        Напруга
      </td>
    </tr>
  <tr class="fewelement">
      {% for laptopitem in search_results.laptop %}
      <td style="width: 300px;">
          {{laptopitem.6}}
      </td>
      {% endfor %}
  </tr>

 
  


</table> 
{% endwith %}