
{% with screen_items=search_results.screen %}


<table class="tablecomp" id="table_screen">
  {% for screenitem in search_results.screen %}

  <th >
      <div class="flex-container">
          <div class="compareheaditem">
            <div class="compareimageblock">
                <img src="{{screenitem.14}}" alt="" class="compare-img">
            </div>
          
          <div class="compare-text">{{screenitem.8}}</div>
          </div>
      </th>

  {% endfor %}



  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Виробник
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.12}}
      </td>
      {% endfor %}
      
     
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Кількість пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.1}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Тип пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.2}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Швидкість пам'яті
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.3}} 
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Країна виробника
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.10}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Інтерфейс
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.4}}
      </td>
      {% endfor %}
  </tr>
  <tr class="oneelement">
     <td colspan="{{ screen_items|length }}">
        Напруга
      </td>
    </tr>
  <tr class="fewelement">
      {% for screenitem in search_results.screen %}
      <td style="width: 300px;">
          {{screenitem.6}}
      </td>
      {% endfor %}
  </tr>

 
  


</table> 
{% endwith %}